.theme-container .home-blog .hero h1{
  color:white;
  text-shadow: 2px 2px 4px #000000;
  font-style: oblique;
  font-family: "Lucida Console", Courier, monospace;
}
.theme-container .home-blog .hero #description{
  color:white;
  text-shadow: 2px 2px 4px #000000;
  font-style: oblique;
  font-family: "Lucida Console", Courier, monospace;
}
.global-ui .bulletin-wrapper .bulletin-content p {
  color:black;

}
.global-ui .bulletin-wrapper .bulletin-content h5 {
  font-size:20px;
  font-family: Arial, sans-serif;
  -webkit-animation:swing 2s infinite;/*设置动画*/
}
@keyframes swing{/*创建动画*/
		   20%{
		      -webkit-transform:rotate(15deg);
		   }40%{
		      -webkit-transform:rotate(-15deg);
		   }60%{
		      -webkit-transform:rotate(5deg);
		   }80%{
		      -webkit-transform:rotate(-5deg);
		   }100%{
		      -webkit-transform:rotate(0deg);
		   }
}
.global-ui .bulletin-wrapper .bulletin-content p{
  color:rgb(120, 120, 120);
  font-family: Arial, sans-serif;
}